{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="mx-80 bg-gray-200">
    

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="flex flex-col p-4 justify-content justify-center">
        <h1 class="h3 mb-3 font-weight-normal">Entrez vos identifiants</h1>
        <label for="inputPseudo" class="w-2/5">Pseudo</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control w-2/5 my-4 bg-white border-b-[1px] border-black hover:border-b-2" autocomplete="username" required autofocus>
        <label for="inputPassword" class="w-2/5">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control w-2/5 my-2 bg-white border-b-[1px] border-black hover:border-b-2" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary text-white my-2 w-40 h-18 bg-black rounded-full p-2" type="submit">
            Sign in
        </button>

        {% if error %}
            <div class="text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div>
    
</form>
{% endblock %}
 